<div class="bg-dark border-right p-3" id="sidebar">
  <h1 class="text-light">GifsApp</h1>
  <hr class="border-white" />

  <div class="d-flex flex-column justify-content-between gap-3">
    <div class="list-group list-reset">
      <button
        class="list-group-item list-group-item-action"
        *ngFor="let tag of tagsHistory"
        (click)="clickTag(tag)"
      >
        {{ tag | titlecase }}
      </button>
    </div>
    <button
      *ngIf="tagsHistory.length > 0"
      class="btn btn-outline-danger"
      (click)="resetHistory()"
    >
      Reset search history
    </button>
  </div>
</div>
